.logo {
	@include media-breakpoint-down(md) {
		height: 24px !important;
	}
}

.seperater {
	display: flex;
	justify-content: center;
	position: relative;
	color: #C1C1C1;
	
	&::before, &::after {
		content: "";
		border-bottom: 1px solid #C1C1C1;
		position: absolute;
		width: 100%;
		top: 50%;
	}

	span {
		z-index: 1;
	}
}