@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@400;700&display=swap');

@import './helpers/mixin.scss';
@import './helpers/utilities.scss';
@import './helpers/base.scss';
@import './layout/layout.scss';
@import './layout/index.scss';

.banner-home {
	background-image: url(../images/bg_home.jpg);
	background-position: center center;
	background-size: cover;
	height: 680px;

	@include media-breakpoint-down(md) {
		background-image: url(../images/bg_home_mobile.jpg);
		height: 336px;
	}
}

.banner-card1 {
	background-image: url(../images/info01.jpg);
	@include banner-card-base;
}

.banner-card2 {
	background-image: url(../images/info02.jpg);
	@include banner-card-base;
}

.banner-card3 {
	background-image: url(../images/info03.jpg);
	@include banner-card-base;
}

.banner-card4 {
	background-image: url(../images/info04.jpg);
	@include banner-card-base;
}

.bi-comment {
	background-image: url(..//images/bg_share.jpg);
	background-position: center center;
	background-size: cover;
}
